﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SchoolSmart</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/kendo/2015.2.624/kendo.common.min.css" />
    <link rel="stylesheet" href="~/Content/kendo/2015.2.624/kendo.default.min.css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style type="text/css">
        .navbar-inverse .navbar-nav>li>a {
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #B8B5B5; border-color: #B8B5B5;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" title="SchoolSmart Home" class="navbar-brand" style="padding-top: 5px; padding-bottom: 5px;">
                    <img src="~/Content/images/logo_shoolwise3.png" alt="SchoolSmart" style="height: 60px;"/>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Guardians", "Index", "ManageGuardians")
                    </li>
                    <li>
                        @Html.ActionLink("Students", "Index", "ManageStudents")
                    </li>
                    <li>
                        @Html.ActionLink("Schools", "Index", "ManageSchools")
                    </li>
                    <li>
                        @Html.ActionLink("Kiosks", "Index", "ManageKiosks")
                    </li>
                    <li>
                        @Html.ActionLink("Geo Zones", "Index", "ManageSchoolGeoZones")
                    </li>
                    <li>
                        @Html.ActionLink("Pickup Schedules", "Index", "ManagePickupSchedules")
                    </li>
                    <li>
                        @Html.ActionLink("Pickup Schedule Sessions", "Index", "ManagePickupScheduleSessions")
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SchoolSmart</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/kendo/2015.2.624/kendo.core.min.js"></script>
    <script src="~/Scripts/kendo/2015.2.624/kendo.calendar.min.js"></script>
    <script src="~/Scripts/kendo/2015.2.624/kendo.popup.min.js"></script>
    <script src="~/Scripts/kendo/2015.2.624/kendo.datepicker.min.js"></script>
    <script src="~/Scripts/kendo/2015.2.624/kendo.userevents.min.js"></script>
    <script src="~/Scripts/kendo/2015.2.624/kendo.numerictextbox.min.js"></script>
    <script src="~/Scripts/kendo/2015.2.624/kendo.validator.min.js"></script>
    <script src="~/Scripts/kendo/2015.2.624/kendo.data.min.js"></script>
    <script src="~/Scripts/kendo/2015.2.624/kendo.binder.min.js"></script>
    <script src="~/Scripts/kendo/2015.2.624/kendo.editable.min.js"></script>
    <script src="~/Scripts/kendo/2015.2.624/kendo.listview.min.js"></script>
    <script src="~/Scripts/kendo/2015.2.624/kendo.popup.min.js"></script>
    <script src="~/Scripts/kendo/2015.2.624/kendo.list.min.js"></script>
    <script src="~/Scripts/kendo/2015.2.624/kendo.dropdownlist.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>