﻿@model StudentPickup.Data.PickupScheduleSession

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pickup Schedule Session</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PickupScheduleSessionId)

        <div class="form-group">
            @Html.LabelFor(model => model.PickupScheduleId, "Student Pickup Schedule", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PickupScheduleId", null, "Select Pickup Schedule", htmlAttributes: new { @class = "form-control", @id = "pickupSchedules" })
                @Html.ValidationMessageFor(model => model.PickupScheduleId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GuardianId, "Guardian", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GuardianId", new SelectList(string.Empty, "Value", "Text"), "Select Guardian", htmlAttributes: new { @class = "form-control", @id = "guardians" })
                @Html.ValidationMessageFor(model => model.GuardianId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SessionDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SessionDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SessionDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#pickupSchedules").change(function () {
                $("#guardians").empty();
                $.ajax({
                    type: 'GET',
                    url: '/api/Guardian/GetGuardiansInCircleByPickupScheduleId?pickupScheduleId=' + $("#pickupSchedules").val(),
                    dataType: 'json',
                    success: function(states) {
                        $.each(states, function(i, guardian) {
                            $("#guardians").append('<option value="' + guardian.GuardianId + '">' +
                                guardian.GuardianName + '</option>');
                        });
                        $("#guardians").val(@Model.GuardianId);
                    },
                    error: function(ex) {
                        alert('Failed to retrieve guardians.' + ex);
                    }
                });
                return false;
            });
            $("#pickupSchedules").val(@Model.PickupScheduleId).change();
        });
    </script>
}