﻿@model StudentPickup.Data.Kiosk

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kiosk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentPortNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentPortNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longtitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longtitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentKiosk.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentKiosk.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KioskId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
