﻿@model IEnumerable<StudentPickup.Data.PickupSchedule>

@{
    ViewBag.Title = "Manage Pickup Schedules";
}

<h2>Manage Pickup Schedules</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Student Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Raw(item.StartDate.HasValue ? item.StartDate.Value.ToShortDateString() : "")
        </td>
        <td>
            @Html.Raw(item.EndDate.HasValue ? item.EndDate.Value.ToShortDateString() : "")
        </td>
        <td>
            @Html.Raw(item.Student.GivenName + " " + item.Student.FamilyName + " - " + item.Student.RFID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PickupScheduleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PickupScheduleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PickupScheduleId })
        </td>
    </tr>
}

</table>
